<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027080537376-kmtbfuv16ebknc4f7f41tvfdf256akog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027080537376-kmtbfuv16ebknc4f7f41tvfdf256akog</string>
	<key>API_KEY</key>
	<string>AIzaSyB8LXFuam0o3vje_KhwgnJ8WNevoYvzcSo</string>
	<key>GCM_SENDER_ID</key>
	<string>1027080537376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.torriporter.RecessTestGrounds</string>
	<key>PROJECT_ID</key>
	<string>recesstestgrounds</string>
	<key>STORAGE_BUCKET</key>
	<string>recesstestgrounds.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027080537376:ios:db03c6e1d380ae14898345</string>
</dict>
</plist>